@media (max-width: 640px) {
    #emoji-list {
        input {
            font-size: 3em;
        }
    }

    #search {
        font-size: 1.5em;
    }

    #search-clear {
        font-size: 2.25em;
    }
}
